# Introduction to Event Study Toolkit

### Download Event Study Toolkit

In [40]:
!pip install event-study-toolkit==0.0.2

Collecting event-study-toolkit
  Obtaining dependency information for event-study-toolkit==0.0.2 from https://files.pythonhosted.org/packages/87/87/b674b0018a6293e4578b2c68b72344410d7514b5775da14c4d00de96d9dd/event_study_toolkit-0.0.2-py3-none-any.whl.metadata
  Downloading event_study_toolkit-0.0.2-py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: pandas in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (2.0.3)
Requirement already satisfied: numpy in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (1.24.4)
Requirement already satisfied: statsmodels in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (0.14.0)
Requirement already satisfied: scipy in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (1.10.1)
Requirement already satisfied: pandas-market-calendars in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (4.1.4)
Requirement already satisfied: scikit-learn in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from event-study-toolkit==0.0.2) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from pandas->event-study-toolkit==0.0.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from pandas->event-study-toolkit==0.0.2) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from pandas->event-study-toolkit==0.0.2) (2023.3)
Requirement already satisfied: exchange-calendars>=3.3 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from pandas-market-calendars->event-study-toolkit==0.0.2) (4.2.8)
Requirement already satisfied: joblib>=1.1.1 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from scikit-learn->event-study-toolkit==0.0.2) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from scikit-learn->event-study-toolkit==0.0.2) (3.2.0)
Requirement already satisfied: patsy>=0.5.2 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from statsmodels->event-study-toolkit==0.0.2) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from statsmodels->event-study-toolkit==0.0.2) (23.1)
Requirement already satisfied: pyluach in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from exchange-calendars>=3.3->pandas-market-calendars->event-study-toolkit==0.0.2) (2.2.0)
Requirement already satisfied: toolz in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from exchange-calendars>=3.3->pandas-market-calendars->event-study-toolkit==0.0.2) (0.12.0)
Requirement already satisfied: korean-lunar-calendar in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from exchange-calendars>=3.3->pandas-market-calendars->event-study-toolkit==0.0.2) (0.3.1)
Requirement already satisfied: six in /home/kc/j1axm12/.micromamba/envs/testtest/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels->event-study-toolkit==0.0.2) (1.16.0)
Downloading event_study_toolkit-0.0.2-py3-none-any.whl (676 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 676.6/676.6 kB 2.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: event-study-toolkit
  Attempting uninstall: event-study-toolkit
    Found existing installation: event-study-toolkit 0.0.1
    Uninstalling event-study-toolkit-0.0.1:
      Successfully uninstalled event-study-toolkit-0.0.1
Successfully installed event-study-toolkit-0.0.2

### Import the package as follows

In [2]:
from event_study_toolkit import eventstudy as es

**Example usage instantiating an event study class object**

In [3]:
ESTPERIOD = 50
GAP = 10
START = 0
END = 1
events = es.open_example_events() # built in method that contains dummy data
data = es.open_example_data() # ^^another one
groups = ['CCAR', 'GSIB']

esTutorial = es.eventstudy(ESTPERIOD, GAP, START, END, data, events, unique_id='subject_id', calType = 'NYSE', groups=groups)

**Getting parameters of market model for expected returns**

Market model is one of the default models, 'capm' and 'famafrench'
In order for these default models to work, one needs to ensure that the columns in their data are the same as the ones in the 'events' and 'data' from above

See below for custom models

In [4]:
esTutorial.runModel('market')

            Intercept    vwretd
subject_id
1            0.011805 -1.359385
2            0.018776  1.299649
3           -0.018096 -0.103516
4           -0.003383 -0.303065
5            0.024031  0.390330
...               ...       ...
96          -0.009343 -0.037927
97           0.000677 -1.265437
98           0.017040 -0.661351
99          -0.007912 -2.161107
100          0.009483 -1.230678

[100 rows x 2 columns]

Custom model example, can use this format with any function that takes 'modelType' as argument

In [5]:
esTutorial.runModel('ret_dlst_adj~mktrf_h15+smb+hml')

            Intercept  mktrf_h15        smb       hml
subject_id
1           -0.005155  -1.175941   0.876735 -6.389658
2            0.009918   0.454578  -4.868768 -1.437573
3           -0.024893  -0.188527  -0.545852 -2.243191
4            0.024133   0.696674   5.925341  7.740708
5            0.013840  -0.144490  -3.126578 -2.532931
...               ...        ...        ...       ...
96           0.008119   0.072459   0.793576  5.991444
97          -0.017925  -1.260756  -0.156182 -6.606041
98           0.011972  -2.567394 -10.830690  2.145032
99           0.009875  -3.336006  -6.476190  8.808058
100         -0.000144  -1.735987  -2.946962 -2.359483

[100 rows x 4 columns]

### Cumalative Abnormal Returns (CAR) example

In [6]:
esTutorial.getCARS('market')

,subject_id,EVT_DATE,car,model,sigma,CCAR,GSIB,e_est_pos,scar,scar_bmp,poscar
0,1,2020-03-20,-0.309801,market,0.144647,1,0,0.58,-1.514460,-1.933802,0
1,2,2020-03-20,0.257522,market,0.156013,1,0,0.52,1.167187,1.490371,1
2,3,2020-03-20,0.344046,market,0.158591,1,0,0.50,1.533990,1.958739,1
3,4,2020-03-20,0.100239,market,0.152537,1,0,0.48,0.464671,0.593335,1
4,5,2020-03-20,0.129011,market,0.158064,1,0,0.50,0.577135,0.736939,1
...,...,...,...,...,...,...,...,...,...,...,...
95,96,2020-03-20,0.289981,market,0.145576,0,1,0.48,1.408520,1.798527,1
96,97,2020-03-20,-0.064699,market,0.145094,0,1,0.52,-0.315309,-0.402615,0
97,98,2020-03-20,0.348616,market,0.142624,0,1,0.48,1.728380,2.206955,1
98,99,2020-03-20,-0.112244,market,0.149323,0,1,0.48,-0.531523,-0.678697,0
99,100,2020-03-20,-0.404282,market,0.149457,0,1,0.54,-1.912728,-2.442347,0

### Full Sample Test Statistic Example

In [7]:
esTutorial.getFullSampleTestStatistic('market')

,model,car_mean,scar_mean,poscar_mean,poscar_cnt,evt_count,e_est_pos,car_t,scar_t,tsign,tpatell,gen_z
0,market,-0.006023,-0.034965,0.46,46,100,0.502,-0.268602,-0.315697,-0.8,-0.349648,-0.840007

### Group Level Test Statistic Example

In [8]:
esTutorial.getGroupLevelTestStatistics('market','CCAR')

,CCAR,car_mean,car_median,scar_mean,scar_median,poscar_mean,poscar_cnt,evt_count,e_est_pos,car_t,scar_t,model,tsign,tpatell,gen_z
0,0,-0.008287,-0.033321,-0.045521,-0.167109,0.465116,40,86,0.500698,-0.335093,-0.371581,market,-0.646997,-0.422144,-0.659937
1,1,0.007883,-0.042280,0.029880,-0.208601,0.428571,6,14,0.510000,0.149770,0.118032,market,-0.534522,0.111801,-0.609478

### Genaralized Rank Z Test Example (Kolari and Pynnönen (2011))

In [9]:
esTutorial.getGRANK('market','CCAR')

      model  CCAR   GRANK_Z
100  market     0 -0.578738
101  market     1  0.072627

### Wilcoxon signed-rank Test Example (Frank Wilcoxon (1945))

In [10]:
esTutorial.getWilcoxon('market','CCAR')

    model  wilcox  wilcox_p
0  market    0.15   0.87763